version: '3.8'

services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis

  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=eventpulse
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres

  redis:
    image: redis:7-alpine

  # 4. عامل المهام الخلفية (معلق حالياً لتوفير الموارد)
  # celery:
  #   build: .
  #   command: celery -A core worker -l info
  #   volumes:
  #     - ./src:/app
  #   env_file:
  #     - .env
  #   depends_on:
  #     - redis
  #     - db

volumes:
  postgres_data: